<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <!--[if IE]>
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <![endif]-->
    <title>Profile</title>
    <!-- BOOTSTRAP STYLE SHEET -->
    <link href="assets/css/bootstrap.css" rel="stylesheet" />
    <!-- FONT AWESOME ICONS STYLE SHEET -->
    <link href="assets/css/font-awesome.css" rel="stylesheet" />
    <!-- CUSTOM STYLES -->
    <link href="assets/css/profile.css" rel="stylesheet" />
    <link href="assets/css/animate.css" rel="stylesheet" />
    <link href='https://fonts.googleapis.com/css?family=Raleway:400, 600' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div class="navbar navbar-inverse animated slideInDown">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand  animated pulse infinite" id="lab" href="/">VIT HelpDesk</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right  ">
            <li>
              <a href="/">HOME</a>
            </li>
            <li>
              <a href="/developers">DEVELOPERS</a>
            </li>
            <li>
              <a href="/logout" data-toggle="tooltip" data-placement="bottom" data-animation="animated zoomIn" title="Are you sure, you want to log out?">LOGOUT</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- NAVBAR CODE END -->
    <div class="container" id="con">
      <!-- USER PROFILE ROW STARTS-->
      <div class="row" id="ro">
        <div class="col-md-3 col-sm-3 animated slideInLeft user-wrapper" id="left-panel" onclick="changes();">
          <div id="after-row">
            <div id="new-panel">
              <img id="pic" src="assets/img/1.jpg" class="img-responsive" />
            </div>
            <div class="description" id="info">
              <div id="beforeclick">
                <h4>
                  <strong><%= user.fname %> </strong>
                  <strong><%= user.lname %></strong>
                </h4>
                <h5>
                  <strong>B.Tech-IT 2nd Year</strong>
                </h5>
                <h5>
                  <strong>VIT University</strong>
                </h5>
                <p>"Dream-Believe-Achieve"</p>
              </div>
            </div>
          </div>
          <a href="#" onclick="changes();" data-toggle="tooltip" data-placement="bottom" title="Click to Know More About Me!">
            <div class="arrow animated flash infinite" id="arrow"></div>
            <div class="arrow animated flash infinite" id="arrow1"></div>
            <div class="arrow animated flash infinite" id="arrow2"></div>
            <div class="arrow animated flash infinite" id="arrow3"></div>
            <div class="arrow animated flash infinite" id="arrow4"></div>
          </a>
        </div>
        <div id="skills" class="description col-md-9 col-sm-9  user-wrapper  animated slideInRight">
            <h2>Registration No. : <%= user.id %></h2>
          <ul class="lists" >
            <li class="col-md-12 col-sm-12">
              <ul class="lists" style="float:left">
                <li>
                  <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                  Hostel Block : <%= user.block %></li>
                <li>
                  <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                  Room No. : <%= user.block %> - <%= user.roomNo %></li>
                <li>
                  <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                  Mess type: <%= user.messType %></li>

              <li>
                  <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                  Mess : <%= user.mess %></li>
                  <li>
                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                   Mobile Number : <%= user.mobNo %></li>
                   <li>
                     <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                    Email : <%= user.email %></li>
                <li>
                  <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                  Warden Incharge: XYZ</li>
              </ul>
            </li>
          </ul>

        </div>
      </div>
      <br>
      <br>
      <br>
      <br>
    </div>
    <!-- USER PROFILE ROW , Container END-->
    <div class="container">
      <h1 class="history" id="projc">COMPLAINTS POSTED</h1>
      <center>
      <h4 id='proj_c'>This shows all the complaints which have been applied by you during your activity on VIT HelpDesk</h4></center>
      <br>
        <% complaints.forEach(function(complaint){ %>
        <div class="col-sm-6 col-md-4 ">
          <div class="thumbnail" class="proj">
            <img src="assets/img/5.png" alt="#">
            <div class="caption">
              <h3><%= complaint.complaintType %></h3>
              <p><%= complaint.description %></p>
              <br>
              <button type="button" class="btn btn-primary" disabled="disabled">View</button>
            </div>
          </div>
        </div>
        <% }) %>
    </div>
    <br>
    <br>
    <br>
    <h1 id="his" class="history">YOUR FORUM ACTIVITY</h1>
    <div class="jumbotron academic">
      <div id="carousel-example-generic" class="carousel slide sr-only" data-ride="carousel" data-interval="3000">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-example-generic" data-slide-to="1"></li>
          <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        </ol>
        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
          <div class="item active">
            <h2 class="history">Question -1</h2>
            <div class="carousel-caption">
              <h4> Your Reply</h4>
              <h5>
                <a href="#info">More Info</a>
              </h5>
            </div>
          </div>
          <div class="item">
            <h2 class="history">Question -2</h2>
            <div class="carousel-caption">
              <h4> Your Reply</h4>
              <h5>
                <a href="#info">More Info</a>
              </h5>
            </div>
          </div>
          <div class="item">
            <h2 class="history">Question-3</h2>
            <div class="carousel-caption">
              <h4> Your Reply</h4>
              <h5>
                <a href="#">More Info</a>
              </h5>
            </div>
          </div>
        </div>
        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
    <div class="footer">
      <div class="container">
        <p>&copy; umanG-2016</p>
        <a style="float:right" class="btn btn-default" data-toggle="modal" data-target="#exampleModal" data-whatever="umang18oct@gmail.com">CONTACT US</a>
        <div class="modal bounce animated" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" style="color:white">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header" style="background-color:#43C6DB; border-color:black;">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="exampleModalLabel">New message</h4>
              </div>
              <div class="modal-body" style="background-color:black; border-color:black;">
                <form>
                  <div class="form-group">
                    <label for="recipient-name" class="control-label">Recipient:</label>
                    <input type="text" class="form-control" id="recipient-name">
                  </div>
                  <div class="form-group">
                    <label for="message-text" class="control-label">Message:</label>
                    <textarea class="form-control" id="message-text"></textarea>
                  </div>
                </form>
              </div>
              <div class="modal-footer" style="background-color:black; border-color:black;">
                <a>
                  <button  id="bt1" data-toggle="tooltip" data-placement="bottom" data-animation="animated zoomIn" title="Functionality will be enabled soon" type="button" class="btn btn-default" style="float:left">Send message</button>
                </a>
              </div>
            </div>
          </div>
        </div>
        <h3> Social Links: </h3>
        <a href="https://www.facebook.com/UmG.18" class="btn btn-social btn-facebook">
          <i class="fa fa-facebook"></i>
          &nbsp; Facebook</a>
        <a href="https://plus.google.com/u/0/+umangchaudhary18" class="btn btn-social btn-google">
          <i class="fa fa-google-plus"></i>
          &nbsp; Google</a>
        <a href="https://www.linkedin.com/in/umang-chaudhary-660135117" class="btn btn-social btn-linkedin">
          <i class="fa fa-linkedin"></i>
          &nbsp; Linkedin</a>
        <!-- Start of SimpleHitCounter Code -->
        <button class="btn btn-default" target="_blank" style="float:right">Profile-Visits:
          <img src="http://simplehitcounter.com/hit.php?uid=2041983&f=0&b=65535" style="border: 1px; border-radius:100px" height="18" width="83" alt="web counter">
        </button>
        <!-- End of SimpleHitCounter Code -->
      </div>
    </div>
    <!-- REQUIRED SCRIPTS FILES -->
    <script>
      function aBounce(x){
        $(x).addClass('animated bounce').one('animationEnd webkitAnimationEnd mozAnimationEnd oAnimationEnd',function(){$(x).removeClass('animated bounce');});
      }
      function changes(){
        document.getElementById("arrow").classList.add("sr-only");
        document.getElementById("arrow1").classList.add("sr-only");
        document.getElementById("arrow2").classList.add("sr-only");
        document.getElementById("arrow3").classList.add("sr-only");
        document.getElementById("arrow4").classList.add("sr-only");
        document.getElementById("skills").classList.remove("col-md-9", "col-sm-9",  "slideInRight");
        document.getElementById("con").classList.remove("container");
        document.getElementById("ro").classList.remove("row");
        document.getElementById("skills").classList.add("container", "slideInDown");
        document.getElementById("left-panel").classList.add("container");
        document.getElementById("after-row").classList.add("row");
        document.getElementById("left-panel").classList.remove("col-md-3", "col-sm-3","slideInLeft","animated");
        document.getElementById("new-panel").classList.add("col-md-3","col-sm-3","animated","fadeIn");
        document.getElementById("info").classList.add("col-md-9", "col-sm-9","animated", "slideInRight");
        document.getElementById("info").style.marginBottom="30px";
        document.getElementById("pic").classList.add("image");
        var del= document.getElementById("beforeclick");
        del.parentNode.removeChild(del);
        var pare=document.getElementById("info");
        var h1=document.createElement("H1");
        var h3=document.createElement("H4");
        var name=document.createTextNode("<%= user.fname %> <%=user.lname %> - <%= user.age %>");
        var clg=document.createTextNode("Currently studying in 2nd Year of B-Tech in Information Technology from VIT University, Vellore.");
        var wrk=document.createTextNode("A Team Member of Vinnovate IT & Core Committee Member of IEEE-Computer Society, VIT")
        var bday=document.createTextNode("Date Of Birth : 18 October, 1997")
        var bg=document.createTextNode("Hometown : Yamunanagar, Haryana");
        var dad=document.createTextNode("Father's Name : Mr. Gagan Chaudhary");
        var mum=document.createTextNode("Mother's Name : Dr. Rakhi Chaudhary");
        var br=document.createElement("BR");
        h1.appendChild(name);
        pare.appendChild(h1);
        pare.appendChild(br);
        h3.appendChild(clg);
        pare.appendChild(h3);
        var h3=document.createElement("H4");
        h3.appendChild(wrk);
        pare.appendChild(h3);
        var br=document.createElement("BR");
        pare.appendChild(br);
        var h3=document.createElement("H4");
        h3.appendChild(bday);
        pare.appendChild(h3);
        var h3=document.createElement("H4");
        h3.appendChild(bg);
        pare.appendChild(h3);
        var h3=document.createElement("H3");
        h3.appendChild(dad);
        pare.appendChild(h3);
        var h3=document.createElement("H3");
        h3.appendChild(mum);
        pare.appendChild(h3);
        pare.style.fontWeight="bold";
        pare.style.backgroundImage = "url('assets/img/8-compressed.jfif')";
        pare.style.backgroundAttachment="fixed";
      }
    </script>
    <!-- CORE JQUERY FILE -->
    <script src="assets/js/jquery-1.11.1.js"></script>
    <script>
      $(document).ready(function(){
        $(window).scroll(function(event){
          var y=$(this).scrollTop();
          if(y>(250)){
            $('#projc').addClass('animated zoomIn');
            $('#proj_c').addClass('animated rollIn');
          }
          if(y>(300)){
          }
          if(y>800){
            $("#his").addClass('animated zoomIn')
            $("#carousel-example-generic").removeClass('sr-only');
            $("#carousel-example-generic").addClass('animated slideInRight');
          }
        });
      });
    </script>
    <!-- REQUIRED BOOTSTRAP SCRIPTS -->
    <script src="assets/js/bootstrap.js"></script>
  </body>
</html>
